{% extends 'base.html' %}

{% block title %}
    Go Create Reset password 
{% endblock %}

{% block image_purpose %}
  <img
    align="center"
    alt="I'm an image"
    border="0"
    class="center fixedwidth"
    src="http://registration.pman.ng/padlock.png"
    style="
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      height: auto;
      border: 0;
      width: 100%;
      max-width: 420px;
      display: block;
    "
    title="I'm an image"
    width="420"
  />
{% endblock %}

{% block welcome %}
  Reset your password
{% endblock %}

{% block salutation %}
    Hi {{ user.first_name }} {{ user.last_name }},
{% endblock %}

{% block greetings %}
    Reset your password
{% endblock %}

{% block sub_title %}
    <br />
    Use the link below to reset your password
{% endblock %}

{% block content %}
    <a href="http://{{ domain }}/accounts/reset/password/?uidb64={{uid}}&token={{token}}">
        http://{{ domain }}/accounts/reset/password/?uidb64={{uid}}&token={{token}}
    </a>
{% endblock %}


