[Unit]
Description=Circus process manager
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecReload=/app/gocreate/env/bin/circusctl reload
ExecStart=/app/gocreate/env/bin/circusd /etc/circus/circusd.ini
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
